/* iPad Mini, iPad */
@media screen and (min-width: 1000px)and (max-width:1179px) {
    .overlay{
        padding-top: 80px;
    }
}

/* iPad Air*/
@media screen and (min-width: 1180px)and (max-width:1181px) {
    .overlay{
        padding-top: 80px;
    }
}

/*iPad Pro modalità landscape*/
@media screen and (min-width:1182px) and (max-width:1368px){
    .overlay{
        padding-top: 230px;
    }
}

/* iPhone tranne 5 e SE*/
@media screen and (min-width: 320px) and (max-width:374px){
    div.overlay{
        align-items: center;
    }
}

/*iPhone SE 2020*/
@media screen and (width:375px) {

}

/* iPhone dai 390px in poi di width */
@media screen and (min-width: 376px) and (max-width: 999px) {

}